html {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Barlow Semi Condensed, sans-serif;
  background: hsl(0, 0%, 100%);
  margin: 0;
}

.card_header div {
  display: inline-block;
  vertical-align: middle;
}

.card_header div p {
  margin: 0;
}

.name {
  padding-bottom: 0.5rem;
}

.descr {
  font-size: 0.9rem;
  opacity: 0.8;
}

.testimonial_grid {
  display: grid;
  gap: 2em;
  margin: 10% 8%;
}

.card_header img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-right: 0.83rem;
}

.quote {
  font-size: 0.83rem;
  line-height: 1.5em;
  opacity: 0.8;
}

.bold {
  font-size: 1.4rem;
  font-weight: 500;
}

.testimonial_1 {
  background-color: hsl(263, 55%, 52%);
  background-image: url(images/bg-pattern-quotation.svg);
  background-size: 120px 120px;
  background-position: 85% top;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 1.5em;
  color: hsl(0, 0%, 100%);
  box-shadow: hsl(0, 0%, 81%) 10px 60px 60px;
}

.testimonial_1 .card_header img {
  border: 0.2rem solid hsl(264, 82%, 80%);
}

.testimonial_2 {
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  padding: 1.5em;
  color: hsl(0, 0%, 100%);
  box-shadow: hsl(0, 0%, 81%) 10px 60px 60px;
}

.testimonial_3 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 1.5em;
  color: hsl(217, 19%, 35%);
  box-shadow: hsl(0, 0%, 81%) 10px 60px 60px;
}

.testimonial_4 {
  background-color: hsl(219, 29%, 14%);
  border-radius: 10px;
  padding: 1.5em;
  color: hsl(0, 0%, 100%);
  box-shadow: hsl(0, 0%, 81%) 10px 60px 60px;
}

.testimonial_4 .card_header img {
  border: 0.2rem solid hsl(263, 55%, 52%);
}

.testimonial_5 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 1.5em;
  color: hsl(217, 19%, 35%);
  box-shadow: hsl(0, 0%, 81%) 10px 60px 60px;
}

@media (max-width: 799px) {
  .testimonial_1 {
    background-image: none !important;
  }
}

@media (min-width: 800px) {
  .testimonial_grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 90vw;
  }
  .grid_col_span_2_mid {
    grid-column: span 2;
  }
}

@media (min-width: 1200px) {
  .testimonial_grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 80vw;
  }
  .grid_col_span_2_max {
    grid-column: span 2;
  }
  .testimonial_3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .testimonial_5 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
